* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
}
header {
  box-sizing: border-box;
  padding: 0 5em;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.search_container {
  min-width: 220px;
}

.search_button {
  width: 42px;
  height: 42px;
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.info-container {
  display: flex;
  flex-direction: column;
}
.account {
  display: flex;
  flex-direction: row;
  min-width: 220px;
}
.info {
  font-size: 16px;
  color: #bbbbbb;
}
.info-icon {
  width: 30px;
  height: 30px;
}

/*카테고리*/
.category {
  position: fixed;
  top: 15vh;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  /*justify-content: space-between;*/
  padding: 3px;
  border-bottom: 1px solid #000;
}

.category ul {
  display: flex;
  gap: 70px;
  justify-content: center;
}

.category > ul:first-child {
  font-size: 19px;
}

.category ul > li {
  position: relative;
}

.category ul > li::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #80c342;
  transition: 1s;
}

.category ul > li:hover::after {
  width: 100%;
}

.category h2:hover {
  scale: 1.07;
  cursor: pointer;
}

.category ul li:hover {
  scale: 1.05;
  cursor: pointer;
}

.slide_div {
  justify-content: center;
}

/*드롭다운*/
.drop {
  position: relative;
  display: inline-block;
}
.down {
  display: none;
  position: absolute;
  z-index: 9;
}
.down a {
  display: block;
}

.dbtn {
  border: none;
  cursor: pointer;
}
.down a:hover {
  background-color: #bbbbbb;
}
.drop:hover .down {
  display: block;
}
/*메인*/

main {
  position: relative;
  top: calc(15vh + 60px);
  margin-left: 100px;
  margin-right: 100px;
}
.MainSlider img {
  width: 100%;
}
.MainSlider:hover {
  cursor: pointer;
}
.ProductSlider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/*이미지 영역*/
.card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.card img {
  width: 100%;
}
.name {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 500;
}
.price {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 800;
}
.card:hover {
  scale: 1.03;
  cursor: pointer;
}

/*광고*/
.Advertiser {
  width: 100%;
  height: 300px;
  background-color: white;
}
.Advertiser:hover {
  cursor: pointer;
}
.Advertiser img {
  width: 100%;
}
.Recommend {
  width: 100%;
  height: 800px;
  background-color: rgb(255, 235, 235);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer {
  padding: 100px 0;
  position: relative;
  top: 15vh;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

footer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (width < 768px) {
  /*header*/
  header {
    box-sizing: border-box;
    padding: 0 2em;
  }
  .search_container {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .vector {
    display: flex;
    justify-content: flex-end;
  }
  .account {
    justify-content: flex-end;
    min-width: 150px;
  }
  .info {
    font-size: 10px;
  }
  .info-icon {
    width: 25px;
    height: 25px;
  }
  .category ul {
    gap: 40px;
  }
  .category li {
    font-size: 15px;
  }
  /*footer*/
  footer {
    width: 100%;
    padding: 50px 0;
  }

  footer ul {
    display: block;
    padding: 0 0 50px 0;
  }
}
