* {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
header {
  box-sizing: border-box;
  padding: 0 5em;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid #000;
}
button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
.search_container {
  min-width: 220px;
}
.search_button {
  width: 42px;
  height: 42px;
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.info-container {
  display: flex;
  flex-direction: column;
}
.account {
  display: flex;
  flex-direction: row;
  min-width: 220px;
}
.info {
  font-size: 16px;
  color: #bbbbbb;
}
.info-icon {
  width: 30px;
  height: 30px;
}

main {
  position: relative;
  top: 15vh;
}

section {
  padding: 50px 0;
}

#product-detail {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#product-detail .p-d-left img {
  max-width: 600px;
  padding: 50px;
}

#product-detail .p-d-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

#product-detail .p-d-right h2 {
  font-size: 2.3rem;
}

#product-detail .p-d-right p {
  font-size: 1.3rem;
}

textarea {
  width: 100%;
  height: 100px;
}

main button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#comment {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.quantity-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.quantity-inner {
  display: flex;
}

.quantity-container button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #80c342;
  border-radius: 50%;
  margin: 0;
}

.quantity-container button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quantity-container input {
  width: 50px;
  height: 30px;
  border: none;
  font-size: 21px;
  text-align: center;
}

.quantity-container p {
  font-size: 21px;
  font-weight: 900;
}

#add-to-cart {
  width: 200px;
  margin: 0 auto;
  font-size: 21px;
  background-color: #80c342;
  border-radius: 15px;
}
#add-to-cart:active {
  transform: scale(0.9);
}

#tab {
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.tab-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.tab-button button {
  background-color: #f1f1f1;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 25px;
  margin-right: 5px;
  color: #000;
  border-radius: 10px;
}

.tab-button button:first-child {
  background-color: #80c342;
  color: #ffffff;
}

.tab-button button:hover {
  background-color: #80c342;
  color: #ffffff;
}

.tab-button button:active {
  background-color: #80c342;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content:active {
  display: block;
}

.tab-content.active {
  display: block;
}

#comment {
  margin: 0 auto;
  text-align: end;
}

#comment h2 {
  font-size: 33px;
  text-align: left;
}

#comment-input {
  border: 1px solid #000;
}

#comment-button {
  background-color: #80c342;
  font-size: 19px;
  border-radius: 10px;
}

#comment-button:active {
  transform: scale(0.95);
}

#comment-list {
  text-align: left;
  max-width: 100%;
  padding-left: 0;
}

#comment textarea {
  font-size: 21px;
  padding: 5px;
}

#comment textarea::placeholder {
  font-size: 21px;
}

#comment-list li {
  height: 100%;
  margin: 15px 0;
  padding: 50px 0;
  font-size: 21px;
  border-bottom: 1px solid #000000;
}

#dilivery {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#dilivery h2 {
  font-size: 33px;
  text-align: left;
  margin-bottom: 20px;
}

#dilivery p {
  font-size: 21px;
  line-height: 35px;
}

footer {
  padding: 100px 0;
  position: relative;
  top: 15vh;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

footer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (375px <= width < 768px) {
  /*header*/
  header {
    box-sizing: border-box;
    padding: 0 2em;
  }
  .search_container {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .vector {
    display: flex;
    justify-content: flex-end;
  }
  .account {
    justify-content: flex-end;
    min-width: 150px;
  }
  .info {
    font-size: 10px;
  }
  .info-icon {
    width: 25px;
    height: 25px;
  }

  main {
    padding: 0 20px;
    width: 100%;
  }

  #product-detail {
    width: 100%;
    display: block;
  }

  #product-detail .p-d-left img {
    max-width: 100%;
    padding: 50px;
  }

  #product-detail .p-d-right {
    text-align: center;
  }

  .quantity-container {
    display: block;
  }

  .quantity-inner {
    justify-content: center;
    margin-bottom: 10px;
  }

  #comment {
    width: 100%;
    text-align: center;
  }

  footer {
    width: 100%;
    padding: 50px 0;
  }

  footer ul {
    display: block;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 375px) {
  main {
    padding: 0 10px;
    width: 100%;
  }

  #product-detail {
    width: 100%;
    display: block;
  }

  #product-detail .p-d-left img {
    max-width: 100%;
    padding: 50px;
  }

  #product-detail .p-d-right {
    text-align: center;
  }

  .quantity-container {
    display: block;
  }

  .quantity-inner {
    justify-content: center;
    margin-bottom: 10px;
  }

  #comment {
    width: 100%;
    text-align: center;
  }

  footer {
    display: none;
  }
}
