/*룰렛*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.first-box {
  width: 300px;
  height: 100px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}
.roulette {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    #ffcccb 0% 16.66%,
    #f9f871 16.66% 33.33%,
    #98fb98 33.33% 50%,
    #87ceeb 50% 66.66%,
    #dda0dd 66.66% 83.33%,
    #ffb6c1 83.33% 100%
  );
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 100px solid red;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(0deg);
  transition: transform 4s ease-out;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*헤더*/
.header {
  box-sizing: border-box;
  padding: 5em;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.header input {
  width: 167px;
  height: 44px;
}
button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
.search_button {
  width: 42px;
  height: 42px;
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.info-container {
  display: flex;
  flex-direction: column;
}
.account {
  display: flex;
  flex-direction: row;
}
.info {
  font-size: 16px;
  color: #bbbbbb;
}
.info-icon {
  width: 30px;
  height: 30px;
}

/* 이벤트 페이지 */
.responsive-image {
  width: 50%; /* 원하는 너비로 설정 */
  height: auto; /* 비율을 유지하면서 높이 조정 */
}
