* {
  margin: 0;
}
li {
  list-style-type: none;
}
header {
  box-sizing: border-box;
  padding: 0 5em;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.header input {
  width: 167px;
  height: 44px;
}
button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
.search_button {
  width: 42px;
  height: 42px;
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.info-container {
  display: flex;
  flex-direction: column;
}
.account {
  display: flex;
  flex-direction: row;
}
.info {
  font-size: 16px;
  color: #bbbbbb;
}
.info-icon {
  width: 30px;
  height: 30px;
}

/*메인 컨테이너*/
hr {
  margin-top: 15vh;
}
.main_header {
  width: 80vh;
  margin: 5vh 0 1vh;
}
.main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart_container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.delivery > button {
  width: 50%;
  font-size: 15px;
  height: 40px;
}

.choose {
  color: #80c342;
  font-weight: 700;
  border-top: 1px solid #d6d6d6;
}

.none {
  font-weight: 200;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d6d6;
}

.cart_content {
  width: 100%;
  margin-top: 40px;
  min-height: 30vh;
  max-height: 50vh;
  overflow: auto;
}
.cart_content_left {
  float: left;
  width: 65%;
}
.group_header {
  position: absolute;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ebebeb;
  padding: 14px 0;
  color: #000;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
}

.group_header > li:nth-child(1) {
  min-width: 440px;
}

.group_header > li:nth-child(2) {
  min-width: 100px;
}

.group_header > li:nth-child(3) {
  min-width: 100px;
}
.choose_list > li {
  display: flex;
  flex-direction: row;
}
.goods_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.choose_list img {
  width: 76px;
  height: 76px;
  padding: 0.5em;
}

.cart_content_right {
  float: right;
  width: 35%;
}

.cart_total {
  background-color: #fafafa;
  padding: 20px 30px;
  border-radius: 12px;
  margin-top: 150px;
  width: 200px;
  height: 150px;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.total_text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.purchase {
  background-color: #80c342;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 8px;
  height: 60px;
  width: 200px;
  margin: 20px 0px 0px 50px;
}
